* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.container {
    position: relative;
    width: 100%;
    max-width: 100%;
    /* margin: auto; */
    padding: 20px 20px;
    overflow: hidden;
    height: 20vh; /* 10% da altura da página */
}

.carousel {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s linear;
    width: 200%; /* Ajustado para duplicação das imagens */
}

.imagem-item {
    height: 100%;
    width: auto;
    max-height: 100%;
    max-width: 20%; /* Ajustado para 10 imagens (5 originais + 5 duplicadas) */
    object-fit: contain;
}

.profile {
    display: flex;
    align-items: center;
    /* margin-top: 50px; */
}

.imagem-profile img {
    display: flex;
    max-width: 300px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 0%;
}
.info-profile {
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.exp {
    width: 100%; /* Ajuste a largura conforme necessário */
    max-width: 800px; /* Limite máximo de largura */
    margin: 0 auto; /* Centralizar na página */
    padding: 20px; /* Espaçamento interno */
    box-sizing: border-box; /* Incluir padding e border na largura */
    overflow: hidden; /* Evitar que o conteúdo ultrapasse os limites */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer .contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .contact-info div {
    display: flex;
    align-items: center;
}

footer .contact-info img {
    margin: 0 10px;
}

footer .rights {
    margin-top: 10px;
    font-size: 14px;
}
